<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="kr.co.opensise.admin.manage.datatrade.model.ArticleVo" alias="articleVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.datatrade.model.DealVo" alias="dealVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.HumanStatisticVo" alias="human_statisticVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.MarketVo" alias="marketVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.MarketDetailVo" alias="marketDetailVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.StationVo" alias="stationVo"/>
		<typeAlias type="kr.co.opensise.user.main.model.BuildingSaleVo" alias="buildingSaleVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.member.model.ManagementVo" alias="managementVo"/>
		
		<!-- local(지역분석) 관련 alias setting -->
		<typeAlias type="kr.co.opensise.user.local.model.HumanStatisVo" alias="humanStatisVo"/>
		<!-- local(지역분석) 관련 alias setting 끝 -->
		
		
		
		
		<!-- admin : statis START-->
		<typeAlias type="kr.co.opensise.admin.statis.model.MemberVo" alias="memVo"/>
		<typeAlias type="kr.co.opensise.admin.statis.model.FavoriteVo" alias="favorVo"/>
		<typeAlias type="kr.co.opensise.admin.statis.model.InterestVo" alias="intrstVo"/>
		<typeAlias type="kr.co.opensise.admin.statis.model.VisitorVo" alias="visitVo"/>
		<typeAlias type="kr.co.opensise.admin.statis.model.Page_statisticVo" alias="psVo"/>
		<!-- admin : statis END-->
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.InstiVo" alias="instiVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.InstiAttrVo" alias="instiAttrVo"/>
		<!-- user alias 시작 -->
		<typeAlias type="kr.co.opensise.user.main.model.BuildingSaleVo" alias="buildingSaleVo"/>
		<typeAlias type="kr.co.opensise.user.main.model.FilterVo" alias="filterVo"/>
		<typeAlias type="kr.co.opensise.member.Login.model.MemberVo" alias="memberVo"/>
		<typeAlias type="kr.co.opensise.member.Login.model.SteamVo" alias="steamVo"/>
		<!-- user alias 끝  -->
		
		<!-- 거래 평균 -->
		<typeAlias type="kr.co.opensise.user.detail.model.AvgTradeVo" alias="avgTradeVo"/>
		<typeAlias type="kr.co.opensise.user.detail.model.AvgStatVo" alias="avgStatVo"/>
		
		<!-- 리뷰 -->
		<typeAlias type="kr.co.opensise.user.detail.model.PostVo" alias="postVo"/>
		<typeAlias type="kr.co.opensise.user.detail.model.ReplyVo" alias="replyVo"/>
		<typeAlias type="kr.co.opensise.user.detail.model.PictureVo" alias="pictureVo"/>
		<typeAlias type="kr.co.opensise.user.detail.model.ReportVo" alias="reportVo"/>
		<typeAlias type="kr.co.opensise.user.detail.model.Report_classfVo" alias="rpt_cfVo"/>

		
	</typeAliases>

	<mappers>
		<mapper resource="kr/co/opensise/db/dataTrade.xml" />
		<mapper resource="kr/co/opensise/db/dataEtc.xml" />
		<mapper resource="kr/co/opensise/db/map.xml" />
		<mapper resource="kr/co/opensise/db/member.xml" />
		<mapper resource="kr/co/opensise/db/detail.xml" />
		<mapper resource="kr/co/opensise/db/admin_statis.xml" />
		<mapper resource="kr/co/opensise/db/notice.xml" />
		<mapper resource="kr/co/opensise/db/local.xml" />
		<mapper resource="kr/co/opensise/db/market.xml" />
		<mapper resource="kr/co/opensise/db/admin_management.xml" />
		<mapper resource="kr/co/opensise/db/station.xml" />
	</mappers>
</configuration>