<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="kr.co.opensise.admin.manage.datatrade.model.ArticleVo" alias="articleVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.datatrade.model.DealVo" alias="dealVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.HumanStatisticVo" alias="human_statisticVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.MarketVo" alias="marketVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.MarketDetailVo" alias="marketDetailVo"/>
		<typeAlias type="kr.co.opensise.user.main.model.BuildingSaleVo" alias="buildingSaleVo"/>
		<typeAlias type="kr.co.opensise.member.Login.model.MemberVo" alias="memberVo"/>
		<!-- admin : statis -->
		<typeAlias type="kr.co.opensise.admin.statis.model.MemberVo" alias="memVo"/>
	</typeAliases>

	<mappers>
		<mapper resource="kr/co/opensise/db/dataTrade.xml" />
		<mapper resource="kr/co/opensise/db/dataEtc.xml" />
		<mapper resource="kr/co/opensise/db/map.xml" />
		<mapper resource="kr/co/opensise/db/member.xml" />
		<mapper resource="kr/co/opensise/db/local.xml" />
		<mapper resource="kr/co/opensise/db/admin_statis.xml" />
	</mappers>
</configuration>