<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="kr.co.opensise.admin.manage.datatrade.model.ArticleVo" alias="articleVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.datatrade.model.DealVo" alias="dealVo"/>
		<typeAlias type="kr.co.opensise.admin.manage.dataetc.model.Human_statisticVo" alias="human_statisticVo"/>
		<typeAlias type="kr.co.opensise.member.Login.model.MemberVo" alias="memberVo"/>
	</typeAliases>

	<mappers>
		<mapper resource="kr/co/opensise/db/dataTrade.xml" />
		<mapper resource="kr/co/opensise/db/dataEtc.xml" />
		<mapper resource="kr/co/opensise/db/member.xml" />
	</mappers>
</configuration>