.floatclear {clear:left;}

.orangetext {color : #f29c3e; font-weight: bold; font-size: x-large;}
.textright {text-align: right;}

.detailcontainer { width:1100px; height:900px; overflow-y: scroll; overflow-x:hidden;}
.detailcontainer div {padding-left :20px; padding-top : 10px;}

.chartajax {padding-top: 0px !important;}

#mapWrap {position: relative;}
#map {width : 700px; height:900px;}
.toLocal {position: absolute; top: 740px; left: 540px; z-index: 10; width:150px; height: 150px;}



.info {width: 1100px; height: 150px; padding : 20px;}
.info div {width: 40%; float:left;}
.info .like {padding-top: 40px;}