<style>

#map {width : 650px; height:1000px;}
#rightContentWrapper {width : 1250px; height:1000px; overflow:hidden}
#rightContent{
	width : 1200px; 
	height:920px; 
	overflow-y: scroll; 
	overflow-x:hidden;
	margin:auto; 
	margin-top:40px; 
	margin-bottom: 40px;
}

#localNameDiv{text-align: center;}
#localNameSpan {font-size: 40px;  }
.categoryDiv {height :60px;}
.subTitle {font-size: 30px;}
#myChart{ width:1200px; height:500px; margin-top: 30px;}
#siseTableDiv {width:1200px; height: 500px; text-align: center;}
#siseTable {width: 1000px; height: 400px; margin: auto; border:1px solid black;}
	
</style>



